<div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Miropalavra" [(ngModel)]="gerador.nome">
    </mat-form-field>
  </div>
  <button type="button" class="btn btn-primary" (click)="addWord()">Adicionar</button>
  <br/>
  <br/>
  <div class="card" *ngFor="let item of gerados">
    <div class="card-body">
      {{ item }}
    </div>
  </div>


