<!--The content below is only a placeholder and can be replaced.-->
<app-layout>
<div class="titulo">
  <h1>
    Bem vindo ao {{ title }}!
  </h1>
  <p>Este serviço serve para adicionar palavras dos mais diversos nincho com o nome Miro ou Alta</p>
</div>
<router-outlet></router-outlet>
<app-gerador></app-gerador>
</app-layout>
